@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Mukta', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: var(--background-escuro);
}

:root {
    --background-escuro: rgb(24, 24, 24);
    --cor-do-texto: rgb(236, 236, 236);
    --cor-divs: rgb(90, 90, 90);
}

/* Estilizacao do cabeçalho */

#cabecalho {
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: var(--cor-divs);
    box-shadow: 0px 5px 20px 5px black;
}

#lista-cabecalho {
    display: flex;
    background-color: var(--cor-divs);
    list-style: none;
    color: var(--cor-do-texto);
    font-size: 35px;
    justify-content: space-between;
}

#lista-cabecalho li {
    display: flex;
    width: 33%;
}

#titulo-cabecalho {
    text-decoration: none;
    color: var(--cor-do-texto);
}

#ancora-home {
    justify-content: center;
}

.bi-list {
    padding-left: 1rem;
}

#li-data {
    padding-right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#data {
    padding: 0 0.5rem;
}

/* Main */

#login {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 80px;
    justify-content: center;
    width: 70%;
    align-items: center;
}

#login i {
    color: var(--cor-do-texto);
    font-size: 300px;
    height: 400px;
}

#login-area {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.inputs-login {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.inputs-login input {
    width: 70%;
}

.inputs-login label {
    width: 30%;
    font-weight: 700;
    font-size: 20px;
    color: var(--cor-do-texto);
}

button {
    display: flex;
    margin: auto;
    height: 50px;
    width: 50%;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: var(--cor-do-texto);
    padding: .2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border-radius: 10px;
}

button:hover {
    box-shadow: 3px 3px 5px black;
    color: var(--background-escuro)
}

.salvamentos {
    position: fixed;
    bottom: 20px;
    left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cor-do-texto);
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
    padding: 1rem;
    font-weight: 700;
    font-size: 20px;
}

@media screen and (max-width: 480px) {
    body {
        width: 100%;
    }

    #lista-cabecalho {
        display: flex;
        align-items: center;
    }

    #lista-cabecalho li {
        display: flex;
        width: 30%;
    }

    #ancora-home {
        justify-content: center;
        flex-grow: 2;
    }
    
    #lista-cabecalho li a {
        font-size: 16px;
    }

    #lista-cabecalho li input {
        font-size: 10px;
        width: 50px;
    }

    #lista-cabecalho li i {
        width: 20%;
        font-size: 30px;
    }

    section {
        width: 100%;
    }

    #login-area {
        width: 100%;
    }

    .inputs-login label{
        font-weight: 200;
        font-size: 20px;
    }

    #salvar-login {
        font-weight: 700;
        font-size: 14px;
    }
    
}